.services-section-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 20px;

  .services-container {
    padding-left: 135px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;

    .services-header {
      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 15px;
      padding-right: 30px;
      padding-bottom: 8px;
    }

    .horizontal-line {
      width: 100%;
      border-top: 1px solid #dadada;
      transform: rotate(180deg);
    }

    .services-item {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-top: 15px;
      margin-bottom: 15px;
      position: relative;
      overflow: hidden;

      .services-item__item {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 30px;
      }

      .vertical-line {
        display: flex;
        height: 100%;
        z-index: 3;
        position: absolute;
        border-right: 1px solid rgba(51, 51, 51, 0.2);
      }
    }

    .services-footer {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-right: 30px;

      .services-footer__title {
        display: flex;
        align-items: center;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 26px;
        color: #333333;
      }

      .services-footer__total-amount {
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 15px;
        color: #333333;

        min-width: 45px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
