.service-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2px;

  &:last-child {
    margin-bottom: 0px;
  }

  .service-name {
    display: flex;
    position: relative;
    z-index: 2;
    overflow: hidden;
    align-items: center;
    min-height: 24px;
    width: 100%;

    p {
      display: flex;
      align-items: center;
      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 26px;

      color: #333333;
      padding-left: 5px;
    }

    .progress-bar {
      position: absolute;
      z-index: -1;
      height: 26px;
      transform-origin: left;
      border-radius: 0px 3px 3px 0px;
    }
  }

  .service-amount {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    min-width: 55px;
    padding-left: 30px;

    color: #333333;
  }
}
