.profile-section-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 20px 5px 20px;

  .profile-picture {
    display: flex;
    flex-direction: row;
    padding-top: 16px;
    z-index: 9;

    .profile-picture__image-box {
      width: 124px;
      height: 124px;
      border-radius: 50%;
      overflow: hidden;

      .image {
        width: 100%;
        height: auto;
        transform: scale(1.35);
        transform-origin: 50% 20%;
      }
    }
  }

  .profile-data {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 25px;
    left: 50px;

    .profile-data__name {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: left;
      font-family: Arial;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: #333333;
    }

    .profile-data__job-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-bottom: 5px;
      text-align: left;
      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      color: #808080;
    }

    .profile-data__slogan {
      display: flex;
      position: relative;
      flex-direction: row;
      align-items: center;
      z-index: 1;

      p {
        text-align: left;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #333333;
        padding: 10px 10px 10px 0px;
      }

      .slogan-background {
        height: 100%;
        width: 100%;
        z-index: -1;
        background: #fffbc8;
        border: 1px solid #dadada;
        border-radius: 5px;
        position: absolute;
        transform: scaleX(1.15);
        transform-origin: right;
      }
    }
  }
}
